
name: Manylinux

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.9]
        os: [ubuntu-latest]
        include:
          - os: ubuntu-latest
            sudo: required
            services:
              - docker
    steps:

    - name: Check out repository
      uses: actions/checkout@v2

    - name: Build manylinux
      run: ./build-manylinux-wheels.sh

    - name: Archive artifact
      uses: actions/upload-artifact@v2
      with:
        name: wheels
        path: dist/*.whl